@import "../base/variables";

footer{
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    div{
        margin-right: 70px;
        ul{
            list-style-type: $list-type;
        }

    }
}

.row_list li{
    display: inline-block;
    margin-right: 30px;
}
